.container {
    background: url("./mountain.jpg");
    height: 100vh;
    width: 100%;
    font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    font-weight: 800;
    background-repeat: center;
}

.heading {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: hsla(233, 32%, 89%, 0.144);
}
.left {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#home{
    background-color:hsla(234, 100%, 98%, 0.212);
    padding-top: 12px;
    padding-left: 7px;
    padding-right: 7px;
    margin: 4px;
    border-radius: 3px;
}

#boardIcon{
    display: flex;
    background-color:hsla(234, 100%, 98%, 0.212);
    justify-content: flex-start;
    align-items: center;
    justify-content: space-around;
    color: white;
    padding: 5px;
    margin: 4px;
    border-radius: 3px;
}
.middle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    padding: 5px;
    border-radius: 3px;
    margin: 4px;
}
.right {
    margin: 4px;
    padding-top: 12px;
    padding-left: 7px;
    padding-right: 7px;
    background-color: hsla(234, 100%, 98%, 0.212);
    border-radius: 3px;
}
.middle p, .left p {
    margin-left: 3px;
}
#home:hover, #boardIcon:hover, .middle:hover, .right:hover{
    background-color: hsla(233, 32%, 89%, 0.144);
}
.boardName {
    color: white;
    background-color: hsla(234, 100%, 98%, 0.212);
    padding: 7px;
    margin: 5px;
    width: 7%;
    border-radius: 3px;
}

.boardName:hover{
    background-color: hsla(233, 32%, 89%, 0.144); 
}

.list {
    width: 250px;
    background-color: #ebecf0;
    color: hsl(232, 77%, 12%);
    border: solid 1px white;
    border-radius: 3px;
    margin: 15px;
    display: flex;
    flex-direction: column;
}
.name {
    margin: 10px;
}
.title {
    display: flex;
    margin: 10px;
    font-weight: 400;
    border-radius: 5px;
    color:hsl(347, 34%, 46%);
    font-size: 15px;
}
.title svg {
    align-self: center;
}
.title:hover{
    background-color:hsl(188, 31%, 82%);
    color:black;
}
.cardLabel{
    margin: 5px;
    flex-wrap: wrap;
}
.text textarea{
    margin-left: 4px;
    margin-bottom: 4px;
    padding: 3px;
    border-radius: 5px;
    height: 40px;
    outline: none;
    border: none;
    resize: vertical;
    overflow: hidden;
    font-size: 12px;
    overflow-wrap: break-word;
    box-shadow: 0 2px 6px -6px black;
}
.box {
    width: 90%;
    display: flex;
    flex-direction: row;
}
.box p{
    font-weight: 300;
    font-size: 14px;
    padding: 7px;
    color: white;
    background-color:hsl(244, 59%, 56%);
    border-radius: 3px;
    margin-left: 5px;
}
.box svg {
    margin-left: 12px;
    align-self: center;
}
.box p:hover, .box svg:hover{
    cursor: pointer;
}
.cardsDiv{
    display: flex;
    justify-content: space-between;
    margin: 5px;
    padding: 7px;
    background-color: white;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 367;
    box-shadow: 0 2px 6px -6px black;
}
.cardsDiv:hover{
    cursor: pointer;
}
.checkBox{
    position: absolute;
    width: 250px;
    height: 200px;
    background-color: white;
    border-radius: 3px;
    margin-left: 195px;
    margin-top: 80px;
    box-shadow: 0 0 4px #000000;
}
.boxTop{
    display: flex;
    justify-content:flex-end;
}
.boxTop p{
    margin-right: 60px;
    font-weight: 400;
    color: rgb(51, 59, 136);
    font-size: 15px;
}
.boxTop svg{
    align-self: center;
    margin-right: 10px;
}
.boxTop svg:hover{
    cursor: pointer;
}
.boxDown{
    margin-left: 10px;
}
.checkTitle{
    font-weight: 450;
    font-size: 15px;
    color:hsl(330, 47%, 55%);
}
.boxDown input{
    outline: none;
    border: solid 1px hsl(240, 10%, 81%);
}
.checkAdd{
    width: 42px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px; 
    background-color: hsl(244, 59%, 56%);
    color: white;
    font-weight: 300;
    font-size: 15px;
}
.checkAdd:hover{
    background-color: hsl(304, 26%, 43%);
    cursor: pointer;
}
.checkBox hr{
    width: 90%;
    height: 1px;
    background-color: rgb(255, 255, 255);
    color: white;
}
.Overlay{
    position: absolute;
    width: 1350px;
    height: auto;
    background-color: hsla(233, 27%, 88%, 0.336);
}
.cardDisplay{
    position: relative;
    width: 45%;
    height: auto;
    margin-left: 350px;
    margin-top: 100px;
    border-radius: 3px;
    background-color: rgb(247, 240, 240);
}
.cardLeft{
    display: flex;
    flex-direction: row;
}
.cardName{
    margin-left: 5px;
}
.listIcon svg{
    align-self: end;
    margin-top: 22px;
    margin-left: 5px;
}
.cardHeading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#cardTitle{
    font-size: 21px;
    color: hsl(242, 38%, 15%);
}
#CardTitleDown{
    font-weight: 400;
    color: hsl(340, 39%, 47%);
    font-size: 15px;
}
.cardMiddle{
    align-self: center;
    margin-right: 85px;
    font-weight: 400;
    display: inline-block;
}
.cardMiddle p{
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 3px;
    background-color: hsl(188, 28%, 90%);
}
.cardMiddle p:hover{
    background-color:hsl(188, 32%, 86%);
    cursor: pointer; 
}
.cardEnd{
    border-radius: 50%;
    padding: 8px;
    align-self: center;
    margin-right: 3px;
}
.cardEnd:hover{
    background-color:hsl(188, 32%, 86%);
    cursor: pointer;
}
.checklistHeading{
    display: flex;
    justify-content: space-between;
}
.checklistName{
    display: flex;
}
.checklistName{
    align-self: center;
}
#checkHeading{
    margin-left: 10px;
    color:hsl(305, 59%, 8%);
    font-weight: 400;
}
#checkHeadingDelete{
    margin-right: 13px;
    color:hsl(305, 59%, 8%);
    font-weight: 300;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 3px;
    background-color: hsl(188, 28%, 90%);
}
#checkHeadingDelete:hover{
    cursor: pointer;
    background-color: hsl(188, 32%, 86%);;
}
.itemDiv{
    display: flex;
    justify-content: space-between;
    font-weight: 350;
}
.checking{
    display: flex;
}
.checking input{
    align-self: center;
}
.itemName{
    color:hsl(244, 85%, 23%);
    margin-left: 10px;
}
.itemDelete{
    align-self: center;
    margin-right: 40px;
}
.itemDiv svg:hover{
    cursor: pointer;
}
input[id=markItem]:hover{
    cursor: pointer;
}
input[id=markItem]:checked~p.itemName{
    text-decoration: line-through;
    color: red;
}
.smallBox p{
    padding: 8px;
    border-radius: 3px;
    width: 5%;
    font-weight: 300;
    color: hsl(305, 59%, 8%);
    background-color:hsl(189, 38%, 80%);
    cursor: pointer;
    margin-left: 27px;
}
.smallBox p:hover{
    background-color: hsl(187, 23%, 64%);
}

.bigBox{
    display: flex;
    flex-direction: column;
    margin-left: 27px;
}
.bigBox input{
    outline: none;
}
.insideBox{
    display: flex;
    flex-direction: row;
    width: 22%;
}
.insideBox p{
    padding: 7px;
    font-weight: 300;
    background-color: hsl(189, 38%, 80%);
    color: hsl(305, 59%, 8%);
    border-radius: 3px;
}
.insideBox p:hover{
    cursor: pointer;
    background-color: hsl(187, 23%, 64%);
}
.insideBoxSvg {
    align-self: center;
    margin-left:20px;
}
.insideBoxSvg:hover{
    cursor: pointer;
}