<!--<div class="container">
  <div *ngIf="overlay===1" class="Overlay" >
    <div class="cardDisplay">
      <div *ngIf="checklistOverlay===1" class="checkBox">
        <div class="boxTop">
          <p>
            Add checklist 
          </p>
          <svg (click)="checklistOverlay=0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 9" width="9" height="9" overflow="visible" stroke="grey" stroke-width="1.5" stroke-linecap="round">
            <line x1="0" y1="0" x2="9" y2="9" />
            <line x1="9" y1="0" x2="0" y2="9" />
         </svg>
        </div>
        <hr>
        <div class="boxDown">
          <p class="checkTitle">Title</p>
          <input #checklistName>
          <p class="checkAdd" (click)="createChecklist(checklistName.value)">Add</p>
        </div>
      </div>
      <div class="cardHeading">
        <div class="cardLeft">
          <div class="listIcon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24"><path d="M20,4H4A2,2,0,0,0,2,6V18a2,2,0,0,0,2,2H20a2,2,0,0,0,2-2V6A2,2,0,0,0,20,4ZM8,17H4V15H8Zm12-5H4V8H20Z"/></svg>
          </div>
          <div class="cardName">
            <p id="cardTitle">{{currentCardName}}</p>
            <p id="CardTitleDown">in list Doing</p>
          </div>
          </div>
        <div class="cardMiddle" (click)="checklistOverlay=1">
          <p>checklist</p>
        </div>
        <div class="cardEnd">
          <svg (click)="this.overlay = 0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" width="12" height="12" overflow="visible" stroke="grey" stroke-width="2.4" stroke-linecap="round">
            <line x1="0" y1="0" x2="12" y2="12" />
            <line x1="12" y1="0" x2="0" y2="12" />
         </svg>
        </div>
      </div>
      <div *ngFor="let name of currentChecklistArray; let i=index;" data-id="currentChecklistArrayId[i]">
        <div class="checklistHeading">
          <p id="checkHeading">{{name}}</p>
          <div (click)="deleteChecklist(currentChecklistArrayId[i], name)">
            <p id="checkHeadingDelete">Delete</p>
          </div>
        </div>
        <div *ngFor="let item of bigItemArray[i]; let k=index" data-id="bigItemArrayId[i][k]" class="itemDiv">
          <div class="checking">
            <input type="checkbox" id="markItem">
          <p class="itemName">
            {{item}}
          </p>
          </div>
          <div class="itemDelete" (click)="deleteItem(item, bigItemArrayId[i][k], currentChecklistArrayId[i])">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" width="12" height="12" overflow="visible" stroke="grey" stroke-width="2.4" stroke-linecap="round">
              <line x1="0" y1="0" x2="12" y2="12" />
              <line x1="12" y1="0" x2="0" y2="12" />
           </svg>
          </div>
        </div>
        <div *ngIf="this.checklistBoxArray[i]===0" class="smallBox">
          <div>
            <p (click)="this.checklistBoxArray[i]=1">Add</p>
            <br>
          </div>
        </div>
        <div *ngIf="this.checklistBoxArray[i]===1" class="bigBox">
          <div>
            <input #itemCreate placeholder="Add an item">
          </div>
          <div class="insideBox">
            <p (click)="addItem(itemCreate.value, i, currentChecklistArrayId[i])" >
              Add
            </p>
            <div class="insideBoxSvg">
              <svg (click)="this.checklistBoxArray[i]=0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" width="12" height="12" overflow="visible" stroke="grey" stroke-width="2.4" stroke-linecap="round">
                <line x1="0" y1="0" x2="12" y2="12" />
                <line x1="12" y1="0" x2="0" y2="12" />
             </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="heading">
    <div class="left">
      <div id="home">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF">
          <path d="M0 0h24v24H0V0z" fill="none" />
          <path d="M12 5.69l5 4.5V18h-2v-6H9v6H7v-7.81l5-4.5M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3z" /></svg>
      </div>
      <div id="boardIcon">
        <svg fill="#ffffff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="25px" height="25px">
          <path
            d="M41,4H9C6.24,4,4,6.24,4,9v32c0,2.76,2.24,5,5,5h32c2.76,0,5-2.24,5-5V9C46,6.24,43.76,4,41,4z M21,36c0,1.1-0.9,2-2,2h-7 c-1.1,0-2-0.9-2-2V12c0-1.1,0.9-2,2-2h7c1.1,0,2,0.9,2,2V36z M40,24c0,1.1-0.9,2-2,2h-7c-1.1,0-2-0.9-2-2V12c0-1.1,0.9-2,2-2h7 c1.1,0,2,0.9,2,2V24z" />
          </svg>
          <p>Boards</p>
      </div>
    </div>
    <div class="middle">
      <svg fill="#ffffff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="25px" height="25px">
        <path
          d="M41,4H9C6.24,4,4,6.24,4,9v32c0,2.76,2.24,5,5,5h32c2.76,0,5-2.24,5-5V9C46,6.24,43.76,4,41,4z M21,36c0,1.1-0.9,2-2,2h-7 c-1.1,0-2-0.9-2-2V12c0-1.1,0.9-2,2-2h7c1.1,0,2,0.9,2,2V36z M40,24c0,1.1-0.9,2-2,2h-7c-1.1,0-2-0.9-2-2V12c0-1.1,0.9-2,2-2h7 c1.1,0,2,0.9,2,2V24z" />
        </svg>
        <p>Trello</p>
    </div>
    <div class="right">
      <div id="plus">
        <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"><g><rect fill="none" height="24" width="24"/></g><g><g><path d="M19,13h-6v6h-2v-6H5v-2h6V5h2v6h6V13z"/></g></g></svg>
      </div>
    </div>
  </div>
  <div class="boardName">
    {{name}}
  </div>
  <div class="list">
    <div class="name">
      {{listName}}
    </div>

    <div class="cardsDiv" *ngFor="let item of listNames; let i = index;" data-id="{{this.fetchApi.listId[i]}}" (mouseenter)="onHover(i)" (mouseleave)="onHover(-1)" (click)="clickCard(this.fetchApi.listId[i], item)">
      <div>
        {{item}}
      </div>  
        <div *ngIf="hoverIndex===i">
          <svg (click)="deleteCard(item, this.fetchApi.listId[i])" data-class="{{this.fetchApi.listId[i]}}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" width="12" height="12" overflow="visible" stroke="grey" stroke-width="2.4" stroke-linecap="round">
            <line x1="0" y1="0" x2="12" y2="12" />
            <line x1="12" y1="0" x2="0" y2="12" />
         </svg>
        </div>
    </div>
    <div *ngIf="addingCard" class="title" (click)="addCard()">
      <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#808080"><g><rect fill="none" height="24" width="24"/></g><g><g><path d="M19,13h-6v6h-2v-6H5v-2h6V5h2v6h6V13z"/></g></g></svg>
      <p>Add a card</p>
    </div>
    <div *ngIf="!addingCard" class="cardLabel">
      <div class="text">
        <textarea rows="4" cols="30" #placeId placeholder="Enter title for this card.." autofocus></textarea>  
      </div>
      <div class="box">
        <p (click)="addTheCard(placeId.value)">Add card</p>
        <svg (click)="closeClick()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" width="12" height="12" overflow="visible" stroke="grey" stroke-width="2.4" stroke-linecap="round">
          <line x1="0" y1="0" x2="12" y2="12" />
          <line x1="12" y1="0" x2="0" y2="12" />
       </svg>
      </div>
    </div>
  </div>
</div>
-->
<div>
  <app-boards></app-boards>
</div>

