.container1 {
    background: url("./mountain.jpg");
    height: 100vh;
    width: 100%;
    font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    font-weight: 800;
    background-repeat: center;
}

.heading1 {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: hsla(233, 32%, 89%, 0.144);
}
.left1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#home1{
    background-color:hsla(234, 100%, 98%, 0.212);
    padding-top: 12px;
    padding-left: 7px;
    padding-right: 7px;
    margin: 4px;
    border-radius: 3px;
}

#boardIcon1{
    display: flex;
    background-color:hsla(234, 100%, 98%, 0.212);
    justify-content: flex-start;
    align-items: center;
    justify-content: space-around;
    color: white;
    padding: 5px;
    margin: 4px;
    border-radius: 3px;
}
.middle1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    padding: 5px;
    border-radius: 3px;
    margin: 4px;
}
.right1 {
    margin: 4px;
    padding-top: 12px;
    padding-left: 7px;
    padding-right: 7px;
    background-color: hsla(234, 100%, 98%, 0.212);
    border-radius: 3px;
}
#plus1{
    align-self: cent;
} 
.middle1 p, .left1 p {
    margin-left: 3px;
}
#home1:hover, #boardIcon1:hover, .middle1:hover, .right1:hover{
    background-color: hsla(233, 32%, 89%, 0.144);
}
.boardArea{
    border: solid 1px black;
    display: flex;
}
.boardNames{
    width: auto;
    height: 150px;
}